<h1>Drag&Drop in grid view</h1>

<button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button
><br />
<ul class="example-list">
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

<div class="example-container" cdkDropListGroup>
  <div
    cdkDropList
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped($event)"
  ></div>
  <div
    cdkDropList
    class="{{ item % 2 == 0 ? 'example-box' : 'example-box2' }}"
    *ngFor="let item of items; let index = index"
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped($event)"
  >
    <div cdkDrag class="item" (cdkDragMoved)="dragMoved($event)">
      {{ item }}
    </div>
  </div>
</div>
